* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************ side 1 hero videoer**************************/
.hero {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.hero_div {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1/4;
  grid-column: 1;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/************************hero videoer**************************/
.hero2 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.hero_div2 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1/4;
  grid-column: 1;
}

.hero-video2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/************************farve box**************************/

.sectionbox {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  margin: 0;
}

.boxen {
  display: flex;
  gap: 10px;
  width: 90%;
  max-width: 1200px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 78vw;
  background-color: black;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.box:hover {
  color: white;
}

.rød:hover {
  background-color: var(--rød);
}

.blå:hover {
  background-color: var(--blå);
}

.grøn:hover {
  background-color: var(--grøn);
}

.gul:hover {
  background-color: var(--gul);
}

/************************mobil**************************/

@media (max-width: 600px) {
  .hero-video {
    width: 100%;
    height: 350px;
    background-size: contain;
    object-fit: cover;
  }

  .hero-video2 {
    width: 100%;
    height: 350px;
    background-size: contain;
    object-fit: cover;
  }
  .hero_div2 {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/4;
    grid-column: 1;
  }
}

/************************desktop af hero og tema box**************************/
@media (min-width: 600px) {
  .hero_div {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/4;
    grid-column: 1;
  }

  .sectionbox {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 500px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
  }

  .boxen {
    display: flex;
    gap: 10px;
    width: 70%;
    max-width: 1200px;
  }
}

@media (min-width: 800px) {
  .hero_div {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/4;
    grid-column: 1;
  }
}

@media (min-width: 980px) {
  .hero_div {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/4;
    grid-column: 1;
  }
}

/************************om mig**************************/

.ommgiggrid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidebody {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.slideshow-container {
  position: relative;
  width: 50%;
  height: 500px;
  display: flex;
  padding-bottom: 4rem;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
.slide img {
  width: 100%;
  height: auto;
}

.slide:first-child {
  display: block;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  margin-top: 0;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.gallerishow {
  display: none;
}

.gallerishowpt2 {
  display: none;
}

@media (max-width: 500px) {
  .slideshow-container {
    position: relative;
    width: 50%;
    height: 300px;
    display: flex;
    padding-bottom: 4rem;
  }
}

@media (min-width: 700px) {
  .slideshow-container {
    position: relative;
    width: 50%;
    height: 500px;
    display: flex;
    padding-bottom: 4rem;
  }
}

/************************slideshow2**************************/

.pprev,
.nnext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  margin-top: 0;
  padding: 1px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.nnext {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideshow-container2 {
  position: relative;
  width: 68%;
  height: 13rem;
  display: flex;
  padding-bottom: 4rem;
}

@media (max-width: 430px) {
  .slideshow-container2 {
    position: relative;
    width: 67%;
    height: 221px;
    display: flex;
    padding-bottom: 4rem;
  }
}

/************************om mig desktop**************************/

@media (min-width: 800px) {
  .slidebody {
    display: none;
  }

  .gallerishowpt2 {
    display: none;
  }

  .gallerishowbody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  .gallerishow {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 600px;
  }

  .gallerishow img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .ommig1 {
    padding-left: 97px !important;
    padding-right: 97px !important;
    margin-bottom: 50px;
    font-size: 2.5vw !important;
    padding-top: 8rem !important;
  }

  .førsteh1 {
    text-align: center;
    font-size: 26vw;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    padding-top: 7rem;
  }
}

@media (min-width: 1100px) {
  .gallerishowbody {
    display: none;
  }

  .gallerishowbodypt2 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }

  .gallerishowpt2 {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    max-width: 950px;
    padding-bottom: 12vw;
  }

  .gallerishowpt2 img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .førsteh1 {
    padding-top: 25vw !important;
  }
}

@media (min-width: 1200px) {
  .ommig1 {
    padding-left: 150px !important;
    padding-right: 150px !important;
    margin-bottom: 50px;
  }
}

/************************footer**************************/

.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 3rem;
}

.footerlink {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: black;
}

.footerlink a {
  text-decoration: none;
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  transition: transform 0.2s, color 0.2s;
  font-family: Arial, Helvetica, sans-serif;
}

.footerlink a:nth-child(1):hover {
  color: var(--rød);
}

.footerlink a:nth-child(2):hover {
  color: var(--blå);
}

.footerlink a:nth-child(3):hover {
  color: var(--grøn);
}

.footerlink a:nth-child(4):hover {
  color: var(--gul);
}

.footer-links a:hover {
  transform: scale(1.2);
}

.footer1 {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 3rem;
}

.footerlink1 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footerlink1 a {
  text-decoration: none;
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  transition: transform 0.2s, color 0.2s;
  font-family: Arial, Helvetica, sans-serif;
}

.footerlink1 a:hover {
  color: var(--grå);
}

/************************footerdesktop**************************/

@media (min-width: 445px) {
  .footerlink a {
    text-decoration: none;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    transition: transform 0.2s, color 0.2s;
  }
  .footerlink1 a {
    font-size: 5rem;
  }
}

/************************TEMA2 desktop**************************/

@media (min-width: 800px) {
  .h2tema2 {
    padding-left: 97px !important;
    padding-right: 97px !important;
    margin-bottom: 50px;
    font-size: 2.5vw !important;
  }

  .tema2h2 {
    font-size: 3vw;

    padding-right: 7rem !important;
    padding-top: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .h2tema2 {
    padding-left: 170px !important;
    padding-right: 170px !important;
    margin-bottom: 50px;
  }

  .tema2h2 {
    padding-right: 12rem !important;
    padding-top: 11rem !important;
  }
}

/************************TEMA3**************************/

.videobody {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vw;
  margin-bottom: 4vw;
}

.video1 {
  width: 83%;
  height: auto;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.video1:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.video-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.moodbord_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 39vh;
  margin: 0;
}

.gallerishow2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding-bottom: 3rem;
}

.gallerishow2 img {
  width: 32vw;
}

/* .wireframes1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 39vh;
  margin: 0;
}

.gallerishow3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.gallerishow3 img {
  width: 32vw;
} */

.styletile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 3rem;
}

.stiletileimg {
  width: 58vw;
}

/************************TEMA3 desktop**************************/

@media (min-width: 800px) {
  .h2tema3 {
    padding-left: 97px !important;
    padding-right: 97px !important;
    margin-bottom: 50px;
    font-size: 2.5vw !important;
  }

  .tema2h33 {
    font-size: 3vw;

    padding-right: 7rem !important;
    padding-top: 5rem !important;
  }

  .h2tema3pt2 {
    padding-left: 97px !important;
    padding-right: 97px !important;
    margin-bottom: 50px;
    font-size: 2.5vw !important;
    padding-bottom: 10rem;
  }
}

@media (min-width: 600px) {
  .h2tema3pt2 {
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 3vw;
    padding-top: 0.4rem;
    padding-bottom: 10rem;
  }
}

@media (min-width: 1200px) {
  .h2tema3 {
    padding-left: 170px !important;
    padding-right: 170px !important;
    margin-bottom: 50px;
  }
  .h2tema3pt2 {
    padding-left: 170px !important;
    padding-right: 170px !important;
  }

  .tema2h33 {
    padding-right: 12rem !important;
    padding-top: 11rem !important;
  }
}

/************************TEMA4**************************/

.prev,
.next {
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.gallerishow3 {
  display: none;
}

.FIGMAH2 {
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 15px;
  padding-right: 60px;
  padding-top: 0rem;
  font-size: 4vw;
}

@media (min-width: 480px) {
  .FIGMAH2 {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    padding-left: 15px;
    padding-right: 60px;
    padding-top: 2rem;
    font-size: 4vw;
  }
}

@media (min-width: 600px) {
  .FIGMAH2 {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    padding-left: 15px;
    padding-right: 60px;
    padding-top: 8rem;
    font-size: 4vw;
  }
}

/************************TEMA4 desktop**************************/
@media (min-width: 800px) {
  .gallerishowbody3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  .gallerishow3 {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 600px;
  }

  .gallerishow3 img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }

  .h2tema4 {
    padding-left: 97px !important;
    padding-right: 97px !important;
    margin-bottom: 50px;
    font-size: 2.5vw !important;
  }

  .tema4h2 {
    font-size: 3vw;

    padding-right: 7rem !important;
    padding-top: 5rem !important;
  }
}
@media (min-width: 1200px) {
  .h2tema4 {
    padding-left: 170px !important;
    padding-right: 170px !important;
    margin-bottom: 50px;
  }
  .tema4h2 {
    padding-right: 12rem !important;
    padding-top: 11rem !important;
  }
}

/************************TEMA5**************************/

.tema5_h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1tema5 {
  font-size: 22vw;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 60px;
  letter-spacing: -10px;
}

.tema5h2 {
  text-align: right;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 15px;
  padding-right: 60px;
  padding-top: 10vw;
  font-size: 4vw;
}

.h2tema5 {
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 3vw;
  padding-top: 0.4rem;
  padding-bottom: 2rem;
}
.tema5h21 {
  text-align: right;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 15px;
  padding-right: 60px;
  padding-top: 5vw;
  font-size: 4vw;
}

/************************TEMA5 desktop**************************/

@media (min-width: 800px) {
  .h2tema5 {
    padding-left: 97px !important;
    padding-right: 97px !important;
    margin-bottom: 50px;
    font-size: 2.5vw !important;
  }

  .h2tema51 {
    padding-left: 97px !important;
    padding-right: 97px !important;
    margin-bottom: 50px;
    font-size: 2.5vw !important;
  }

  .tema5h2 {
    font-size: 3vw;

    padding-right: 7rem !important;
    padding-top: 5rem !important;
  }
}

@media (min-width: 1200px) {
  .h2tema5 {
    padding-left: 170px !important;
    padding-right: 170px !important;
    margin-bottom: 50px;
  }
  .h2tema5 {
    padding-left: 170px !important;
    padding-right: 170px !important;
    margin-bottom: 50px;
  }

  .tema5h2 {
    padding-right: 12rem !important;
    padding-top: 11rem !important;
  }
}
