* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************ side 1 hero videoer**************************/
.hero {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.hero_div {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1/4;
  grid-column: 1;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/************************hero videoer**************************/
.hero2 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.hero_div2 {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: 1/4;
  grid-column: 1;
}

.hero-video2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

/************************farve box**************************/

.sectionbox {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82vh;
  margin: 0;
}

.boxen {
  display: flex;
  gap: 10px;
  width: 90%;
  max-width: 1200px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 78vw;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.rød {
  background-color: red;
}

.blå {
  background-color: rgb(34, 82, 206);
}

.grøn {
  background-color: rgb(81, 255, 1);
}

.gul {
  background-color: rgb(238, 255, 0);
}

/************************mobil**************************/

@media (max-width: 600px) {
  .hero-video {
    width: 100%;
    height: 350px;
    background-size: contain;
    object-fit: cover;
  }

  .hero-video2 {
    width: 100%;
    height: 350px;
    background-size: contain;
    object-fit: cover;
  }
  .hero_div2 {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/4;
    grid-column: 1;
  }
}

/************************desktop af hero og tema box**************************/
@media (min-width: 600px) {
  .hero_div {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/4;
    grid-column: 1;
  }

  .sectionbox {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 500px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
  }
}

@media (min-width: 800px) {
  .hero_div {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/4;
    grid-column: 1;
  }
}

@media (min-width: 980px) {
  .hero_div {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1/4;
    grid-column: 1;
  }
}

/************************om mig**************************/

.ommgiggrid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.slidebody {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow-container {
  position: relative;
  width: 50%;
  height: 500px;
  display: flex;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}
.slide img {
  width: 100%;
  height: auto;
}

.slide:first-child {
  display: block;
}
.prev,
.next {
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.gallerishow {
  display: none;
}

/************************om mig desktop**************************/

@media (min-width: 800px) {
  .slidebody {
    display: none;
  }
  .gallerishowbody {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  .gallerishow {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 600px;
  }

  .gallerishow img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

/************************footer**************************/

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}

.footerlink {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footerlink a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  transition: transform 0.2s, color 0.2s;
}

.footerlink a:nth-child(1):hover {
  color: red;
}

.footerlink a:nth-child(2):hover {
  color: blue;
}

.footerlink a:nth-child(3):hover {
  color: green;
}

.footerlink a:nth-child(4):hover {
  color: yellow;
}

.footer-links a:hover {
  transform: scale(1.2);
}

/************************TEMA2**************************/

/************************TEMA3**************************/

.videobody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 31vh;
  margin-top: 11vw;
  margin-bottom: 11vw;
}

.video1 {
  width: 83%;
  height: auto;
  cursor: pointer;
}

.video-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.moodbord_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 39vh;
  margin: 0;
}

.gallerishow2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.gallerishow2 img {
  width: 32vw;
}

.wireframes1 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 39vh;
  margin: 0;
}

.gallerishow3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.gallerishow3 img {
  width: 32vw;
}

.styletile {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.stiletileimg {
  width: 80vw;
}

/************************TEMA3 desktop**************************/

/************************TEMA4**************************/

.prev,
.next {
  position: absolute;
  top: 38%;
  transform: translateY(-50%);
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.gallerishow3 {
  display: none;
}
/************************TEMA4 desktop**************************/
@media (min-width: 800px) {
  .gallerishowbody3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
  }
  .gallerishow3 {
    display: block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    max-width: 600px;
  }

  .gallerishow3 img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}
