.førsteh1 {
  text-align: center;
  font-size: 26vw;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
}

.ommig1 {
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 3vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.potrætbillede {
  width: 40vw;
}

.galleri {
  font-size: 24vw;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  letter-spacing: -10px;
}

.gallerih1flex {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************TEMA2**************************/

.h1tema2 {
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 3vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.h1tema2 {
  font-size: 19vw;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 60px;
  letter-spacing: -7px;
}

.h2tema2 {
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 3vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.tema2h2 {
  text-align: right;

  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 15px;
  padding-right: 60px;
  padding-top: 35px;
  font-size: 4vw;
}

.billedbody {
  padding-bottom: 10vw;
}

.billedlink {
  width: 50%;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.billedlink:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.billedbodylink {
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************TEMA3**************************/

.tema2h33 {
  text-align: right;

  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 15px;
  padding-right: 60px;
  padding-top: 2rem;
  font-size: 4vw;
}

.h2tema3 {
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 3vw;
  padding-top: 0.4rem;
  padding-bottom: 2rem;
}

.h2tema3pt2 {
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 3vw;
  padding-top: 0.4rem;
  padding-bottom: 3rem;
}

.tema3_h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1tema3 {
  font-size: 21vw;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 60px;
  letter-spacing: -10px;
}

.figmabody {
  display: flex;
  justify-content: center;
  align-items: center;
}

.figma {
  width: 60vw;
  height: 30vw;
}

/************************TEMA4**************************/

/* .tema4_h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1tema4 {
  font-size: 22vw;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 60px;
  letter-spacing: -10px;
} */

.tema4h2 {
  text-align: right;

  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 15px;
  padding-right: 60px;
  padding-top: 2rem;
  font-size: 4vw;
}

.h2tema4 {
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 3vw;
  padding-top: 0.4rem;
  padding-bottom: 2rem;
}

.h1tema4 {
  font-size: 19vw;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 60px;
  letter-spacing: -7px;
}

.h1tema4pt2 {
  font-size: 17vw;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 21px;
  letter-spacing: -8px;
  padding-bottom: 0rem;
}
.tema4_h11 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.figmah2body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vw;
}

/************************TEMA5**************************/

.tema5_h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1tema5 {
  font-size: 20vw;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 60px;
  letter-spacing: -10px;
}

.tema5h2 {
  text-align: right;

  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 15px;
  padding-right: 60px;
}

.h2tema5 {
  padding-top: 20px;
  padding-bottom: 30px;

  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-left: 60px;
  padding-right: 60px;
}

.h1tema5pt2 {
  font-size: 18vw;
  font-family: Helvetica, sans-serif;
  font-weight: bolder;
  padding-top: 60px;
  letter-spacing: -10px;
}
