header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 10;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  margin: 0;
  align-items: center;
}

nav ul li.logo {
  flex: 0;
}

nav ul li.logo img {
  height: 50px;
  width: auto;
}

/* nav ul li.logo dotlottie-player {
width: 20vw;
height: auto;
max-width: 300px;
} */

nav ul li a {
  text-decoration: none;
  color: #f2eae4;
  font-size: 2.2rem;
  transition: color 0.3s ease;
}

.tema2_menu:hover {
  color: red;
}
.tema3_menu:hover {
  color: blue;
}
.tema4_menu:hover {
  color: greenyellow;
}
.tema5_menu:hover {
  color: yellow;
}

.burger {
  width: 38px;
  height: 10px;
  cursor: pointer;
  margin-top: 1.7rem;
  margin-right: 4rem;
}

.burger .line {
  width: 6vw;
  height: 12px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.logo_mobil {
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
}
.logo_mobil {
  display: block;
  width: 10vw;
  margin-top: 0.7rem;
  margin-left: 0.7rem;
}
.menu {
  display: none;
}
.burger {
  display: block;
}
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}

nav.active .menu {
  display: block;
  background-color: #000000;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav.active .menu li {
  margin: 10px 20px;
}

nav.active .menu a {
  font-size: 24px;
}

nav ul li.logo {
  flex: 0;
  display: none;
}

@media (max-width: 800px) {
  .burger .line {
    width: 6vw;
    height: 8px;
  }

  .burger {
    margin-right: 2rem;
  }
}

@media (max-width: 700px) {
  .logo_mobil {
    display: block;
    width: 15vw;
    margin-top: 0.7rem;
    margin-left: 0.7rem;
  }
  .burger .line {
    width: 7vw;
    height: 8px;
  }
  .burger {
    margin-right: 2rem;
  }
}

@media (max-width: 480px) {
  .logo_mobil {
    display: block;
    width: 16vw;
    margin-top: 0.7rem;
    margin-left: 0.7rem;
  }
  .burger .line {
    width: 7vw;
    height: 6px;
  }
  .burger {
    margin-right: 1rem;
  }
}
